body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--color-dark);
  background-color: var(--bg-primary);
  font-size: var(--font-size-m);
  line-height: var(--font-line-m);
}
