@use './breakpoints';

// br

.br-lg {
  display: block;

  @media (width < breakpoints.$md) {
    display: none;
  }
}
.br-md {
  display: none;

  @media (width < breakpoints.$md) {
    display: block;
  }
}

// text align

.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}

// font weight

.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}

// font style

.font-italic {
  font-style: italic;
}

// border radius

.section-radius-top {
  border-radius: var(--radius-l) var(--radius-l) 0 0;
}
.section-radius-bottom {
  border-radius: 0 0 var(--radius-l) var(--radius-l);
}