@use './breakpoints';

// br

.br-lg {
  display: block;

  @media (width < breakpoints.$md) {
    display: none;
  }
}
.br-md {
  display: none;

  @media (width < breakpoints.$md) {
    display: block;
  }
}

// text align

.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}

// font weight

.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}

// font style

.font-italic {
  font-style: italic;
}

// border radius

.section-radius {
  border-radius: var(--radius-l) var(--radius-l) var(--radius-l) var(--radius-l);

  @media (width < breakpoints.$md) {
    border-radius: var(--radius-m) var(--radius-m) var(--radius-m) var(--radius-m);
  }
}
.section-radius-top {
  border-radius: var(--radius-l) var(--radius-l) 0 0;

  @media (width < breakpoints.$md) {
    border-radius: var(--radius-m) var(--radius-m) 0 0;
  }
}
.section-radius-bottom {
  border-radius: 0 0 var(--radius-l) var(--radius-l);

  @media (width < breakpoints.$md) {
    border-radius: 0 0 var(--radius-m) var(--radius-m);
  }
}

// section paddings

.section-padding {
  padding-top: 180px;
  padding-bottom: 180px;

  @media (width < breakpoints.$lg) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  @media (width < breakpoints.$md) {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}
.section-padding-top {
  padding-top: 180px;

  @media (width < breakpoints.$lg) {
    padding-top: 120px;
  }
  @media (width < breakpoints.$md) {
    padding-top: 90px;
  }
}
.section-padding-bottom {
  padding-bottom: 180px;

  @media (width < breakpoints.$lg) {
    padding-bottom: 120px;
  }
  @media (width < breakpoints.$md) {
    padding-bottom: 90px;
  }
}