@use '@globals/styles/breakpoints';

.nav {
	&.header {
		color: var(--color-dark);

		@media (width < breakpoints.$lg) {
			position: fixed;
			z-index: var(--index-m);
			top: -120%;
			left: 0;
			width: 100%;
			height: 100%;
			transition: var(--transition-primary);
			color: var(--color-white);
			background: rgba(0, 0, 0, .01);
			backdrop-filter: blur(10px);
		}

		&.open {
			@media (width < breakpoints.$lg) {
				top: 0;
			}
		}

		.nav {

			&__inner {
				@media (width < breakpoints.$lg) {
					height: calc(100% - 150px);
					padding: 120px 20px 40px;
					border-radius: 0 0 var(--radius-m) var(--radius-m);
					background-color: var(--bg-secondary);
					transition: var(--transition-primary);
					color: var(--color-white);
				}
			}

			&__list {
				@media (width < breakpoints.$lg) {
					flex-direction: column;
					align-items: center;
					gap: 44px;
				}
			}

			&__contacts {
				@media (width < breakpoints.$lg) {
					display: flex;
				}
			}
		}
	}
	&.footer {
		.nav {
			&__list {
				justify-content: flex-end;
				flex-wrap: wrap;

				@media (width < breakpoints.$lg) {
					column-gap: 32px;
				}
			}
		}
	}

	&.dark {
		color: var(--color-dark);
	}
	&.light {
		color: var(--color-white);
	}

	&__inner {
		height: 100%;
	}

	&__list {
		flex-direction: row;
		gap: 12px 50px;
	}

	&__contacts {
		display: none;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 32px;
	}
}