.nav {

	&.dark {
		color: var(--color-dark);
	}
	&.light {
		color: var(--color-white);
	}

	&__list {
		gap: 50px;
	}

	&__item {
		position: relative;
		color: currentColor;

		&:not(:last-child) {
			&:after {
				content: '/';
				position: absolute;
				top: 50%;
				left: calc(100% + 25px);
				translate: 0 -50%;
			}
		}
	}

	&__link {
		display: block;
		font-weight: 500;
	}
}