@use '@globals/styles/breakpoints';

.intro {
	padding-top: 120px;
	padding-bottom: 120px;

	@media (width < breakpoints.$lg) {
		position: relative;
		z-index: 2;
		padding-top: 60px;
		padding-bottom: 60px;
	}
	@media (width < breakpoints.$md) {
		padding-top: 32px;
		padding-bottom: 32px;
	}

	&__inner {
		width: 100%;
		max-width: 540px;

		@media (width < breakpoints.$lg) {
			max-width: 465px;
		}
		@media (width < breakpoints.$md) {
			max-width: 100%;
		}
	}

	&__img {
		display: none;
		height: auto;

		&.mobile {
			@media (width < breakpoints.$md) {
				display: block;
				align-self: flex-end;
				width: calc(100% + 20px);
				max-width: calc(100% + 20px);
			}
		}
		&.tablet {
			@media ((width >= breakpoints.$md) and (width < breakpoints.$lg)) {
				position: absolute;
				z-index: -1;
				left: 400px;
				bottom: 0;
				width: 500px;
				display: block;
			}
		}
	}

	&__buttons {
		@media (width < breakpoints.$lg) {
			width: 100%;
			max-width: 355px;
			flex-direction: column;
		}
		@media (width < breakpoints.$md) {
			max-width: 100%;
		}
	}

	&__btn {
		position: relative;
		z-index: 1;

		@media (width < breakpoints.$md) {
			width: 100%;
			max-width: 100%;
		}
	}

	&__h1 {
		font-size: var(--font-size-xxl);
		line-height: var(--font-line-xxl);
		font-weight: 700;
		text-transform: uppercase;

		@media (width < breakpoints.$lg) {
			font-size: 34px;
			line-height: 42px;
		}
		@media (width < breakpoints.$md) {
			width: 100%;
			max-width: 400px;
			font-size: var(--font-size-l);
			line-height: var(--font-line-l);
		}

		.colored {
			background: var(--gradient-green);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			color: transparent;
		}

		.right {
			display: block;
			text-align: right;
		}
	}

	&__text {
		@media (width < breakpoints.$lg) {
			width: 100%;
			max-width: 355px;
		}
		@media (width < breakpoints.$md) {
			max-width: 100%;
		}
	}
}