.telegram {
	display: flex;
	flex-direction: column;
	gap: 24px;
	background-image: url('/images/home-page/cases/telegram_bg.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}