@use '@globals/styles/breakpoints';

.telegram {
	display: flex;
	flex-direction: column;
	gap: 24px;
	background-image: url('/images/home-page/cases/telegram_bg.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	@media (width < breakpoints.$md) {
		gap: 12px;
	}

	&__badge {
		display: block;
		width: max-content;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
		padding: 2px 12px;
		border-radius: var(--radius-l);
		background-color: #8EC096;
		font-family: var(--font-montserrat), sans-serif;
		font-weight: 500;
		color: var(--color-white);
		text-align: center;
		text-transform: uppercase;
	}

	&__inner {
		gap: 16px;
		margin-top: auto;
		padding-left: 50px;
		padding-right: 50px;

		@media (width < breakpoints.$md) {
			gap: 12px;
			padding-left: 10px;
			padding-right: 10px;
		}
	}
}