// font family

.montserrat {
	font-family: var(--font-montserrat), sans-serif;
}
.unbounded {
	font-family: var(--font-unbounded), sans-serif;
}

// sizes

.size-s {
	font: var(--font-s);
}
.size-m {
	font: var(--font-m);
}
.size-l {
	font: var(--font-l);
}
.size-xl {
	font: var(--font-xl);
}

// colors

.color-primary {
	color: var(--primary-color);
}
.color-secondary {
	color: var(--secondary-color);
}
.color-primary-inverted {
	color: var(--inverted-primary-color);
}
.color-secondary-inverted {
	color: var(--inverted-secondary-color);
}
.color-red-light {
	color: var(--color-red-light);
}
.color-red-dark {
	color: var(--color-red-dark);
}

// align

.align-left {
	text-align: left;
}
.align-center {
	text-align: center;
}
.align-right {
	text-align: right;
}