@use '@globals/styles/breakpoints';

// font family

.montserrat {
	font-family: var(--font-montserrat), sans-serif;
}
.unbounded {
	font-family: var(--font-unbounded), sans-serif;
}

// sizes

.xs {
	font-size: var(--font-size-xs);
	line-height: var(--font-line-xs);
}
.s {
	font-size: var(--font-size-s);
	line-height: var(--font-line-s);
}
.m {
	font-size: var(--font-size-m);
	line-height: var(--font-line-m);
}
.ml {
	font-size: var(--font-size-ml);
	line-height: var(--font-line-ml);
}
.sl {
	font-size: var(--font-size-sl);
	line-height: var(--font-line-sl);
}
.l {
	font-size: var(--font-size-l);
	line-height: var(--font-line-l);
}
.xl {
	font-size: var(--font-size-xl);
	line-height: var(--font-line-xl);
}
.xxl {
	font-size: var(--font-size-xxl);
	line-height: var(--font-line-xxl);
}

.sm-xs {
	@media (width < breakpoints.$md) {
		font-size: var(--font-size-xs);
		line-height: var(--font-line-xs);
	}
}
.sm-s {
	@media (width < breakpoints.$md) {
		font-size: var(--font-size-s);
		line-height: var(--font-line-s);
	}
}
.sm-m {
	@media (width < breakpoints.$md) {
		font-size: var(--font-size-m);
		line-height: var(--font-line-m);
	}
}
.sm-ml {
	@media (width < breakpoints.$md) {
		font-size: var(--font-size-ml);
		line-height: var(--font-line-ml);
	}
}
.sm-sl {
	@media (width < breakpoints.$md) {
		font-size: var(--font-size-sl);
		line-height: var(--font-line-sl);
	}
}
.sm-l {
	@media (width < breakpoints.$md) {
		font-size: var(--font-size-l);
		line-height: var(--font-line-l);
	}
}
.sm-xl {
	@media (width < breakpoints.$md) {
		font-size: var(--font-size-xl);
		line-height: var(--font-line-xl);
	}
}
.sm-xxl {
	@media (width < breakpoints.$md) {
		font-size: var(--font-size-xxl);
		line-height: var(--font-line-xxl);
	}
}

// colors

.white {
	color: var(--color-white);
}
.black {
	color: var(--color-black);
}
.dark {
	color: var(--color-dark);
}
.light {
	color: var(--color-light);
}
.dark-secondary {
	color: var(--color-dark-secondary);
}
.green-gradient {
	background: var(--gradient-green);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	color: transparent;
}

// align

.left {
	text-align: left;
}
.center {
	text-align: center;
}
.right {
	text-align: right;
}

// weight

.w-400 {
	font-weight: 400;
}
.w-500 {
	font-weight: 500;
}
.w-600 {
	font-weight: 600;
}
.w-700 {
	font-weight: 700;
}