@use '@globals/styles/breakpoints';

.slider {
	position: relative;
	margin-top: 90px;

	@media (width < breakpoints.$md) {
		margin-top: 44px;
	}

	&:before, &:after {
		content: '';
		position: absolute;
		z-index: 2;
		display: block;
		top: 0;
		width: calc(420 / 1440 * 100vw);
		height: 100%;

		@media (width < breakpoints.$xl) {
			width: calc(200 / 1024 * 100vw);
		}
		@media (width < breakpoints.$md) {
			display: none;
		}
	}
	&:before {
		left: 0;
		background: linear-gradient(
				to right,
				rgba(20, 20, 20, 1) 30%,
				rgba(20, 20, 20, .8) 50%,
				rgba(20, 20, 20, .4) 80%,
				rgba(20, 20, 20, .2) 90%,
				rgba(20, 20, 20, 0) 100%,
		);
	}
	&:after {
		right: 0;
		background: linear-gradient(
				to left,
				rgba(20, 20, 20, 1) 30%,
				rgba(20, 20, 20, .8) 50%,
				rgba(20, 20, 20, .4) 80%,
				rgba(20, 20, 20, .2) 90%,
				rgba(20, 20, 20, 0) 100%,
		);
	}

	&__slide {
		max-width: 565px;
		height: auto;
		flex-grow: 1;

		@media (width < breakpoints.$lg) {
			max-width: 500px;
		}
		@media (width < breakpoints.$sm) {
			max-width: 320px;
		}
		@media (width < breakpoints.$xs) {
			max-width: 290px;
		}
	}
}