@use '@globals/styles/breakpoints';

.card {
	padding: var(--padding-l);
	border-radius: var(--radius-l);

	@media (width < breakpoints.$md) {
		padding: var(--padding-m);
		border-radius: var(--radius-m);
	}

	&.basic, &.standard {
		background-color: var(--color-white);
	}
	&.pro {
		background: var(--gradient-green);
	}

	&__row {
		display: flex;
		flex-direction: column;
		gap: 32px;

		@media (width < breakpoints.$md) {
			gap: 20px;
		}

		&:not(:first-child) {
			padding-top: var(--padding-m);

			@media (width < breakpoints.$md) {
				padding-top: 20px;
			}
		}
		&:not(:last-child) {
			padding-bottom: var(--padding-m);

			@media (width < breakpoints.$md) {
				padding-bottom: 20px;
			}
		}

		+ .card__row {
			border-top: 1px solid #14141433
		}
	}
}