@use '@globals/styles/breakpoints';

.tariffs {
	background-color: var(--bg-secondary);

	&__title {
		h2 {
			text-transform: uppercase;
		}

		+ .tariffs__list {
			margin-top: 90px;

			@media (width < breakpoints.$lg) {
				margin-top: 60px;
			}
			@media (width < breakpoints.$md) {
				margin-top: 44px;
			}
		}
	}

	&__list {
		+ .tariffs__cta {
			margin-top: 44px;
		}
	}

	&__cta {
		width: 100%;
		max-width: 410px;
		margin-left: auto;
		margin-right: auto;

		@media (width < breakpoints.$sm) {
			max-width: 100%;
		}
	}
}