@use '@globals/styles/breakpoints';

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	width: max-content;
	max-width: 100%;
	transition: var(--transition-primary);

	// theme

	&--default {
		border-radius: 5px;
		background-color: var(--color-black);
		color: var(--color-white);

		@media (hover: hover) {
			&:hover {
				box-shadow: 0 0 20px 0 rgba(255, 255, 255, .6) inset;
			}
		}
	}
	&--outline {
		border: 1px solid var(--color-black);
		background-color: transparent;
		color: var(--color-black);

		@media (hover: hover) {
			&:hover {
				background-color: var(--color-black);
        color: var(--color-white);
			}
		}
	}
	&--clear {
		background-color: transparent;

		&:active {
			background-color: transparent !important;
		}
	}

	// size

	&--s {
		padding: 10px 20px;
		font-size: var(--font-size-xs);
		line-height: var(--font-line-xs);
		font-weight: 500;
	}
	&--m {
		padding: 15px 45px;
		font-size: var(--font-size-m);
		line-height: var(--font-line-m);
		font-weight: 500;

		@media (width < breakpoints.$md) {
			padding: 10px 30px;
		}
	}
	&--l {
		padding: 20px 50px;
		font-size: var(--font-size-ml);
		line-height: var(--font-line-ml);
		font-weight: 500;
	}
	&--text {
		padding: 0;
	}

	// fluid

	&--fluid {
		width: 100%;
	}

	// active

	&:active {
		box-shadow: 0 0 40px 0 rgba(255, 255, 255, .6) inset;
	}
}