@use '@globals/styles/breakpoints';

.advantages {

	&__title {
		width: 100%;
		max-width: 585px;

		@media (width < breakpoints.$md) {
			max-width: 100%;
		}
	}

	&__container {
		gap: 110px;

		@media (width < breakpoints.$lg) {
			gap: 60px;
		}
		@media (width < breakpoints.$md) {
			gap: 44px;
		}
	}
}