.flex {
	display: flex;
}

// fluid

.fluid {
	width: 100%;
}

// grow

.grow {
	flex-grow: 1;
}

// justify

.justify-start {
	justify-content: flex-start;
}
.justify-end {
	justify-content: flex-end;
}
.justify-center {
	justify-content: center;
}
.justify-between {
	justify-content: space-between;
}
.justify-around {
	justify-content: space-around;
}
.justify-stretch {
	justify-content: stretch;
}

// align

.align-start {
	align-items: flex-start;
}
.align-end {
	align-items: flex-end;
}
.align-center {
	align-items: center;
}
.align-stretch {
	align-items: stretch;
}

// direction

.direction-row {
	flex-direction: row;
}
.direction-column {
	flex-direction: column;
}

// gap

.gap-2 {
	gap: 2px;
}
.gap-4 {
	gap: 4px;
}
.gap-6 {
	gap: 6px;
}
.gap-8 {
	gap: 8px;
}
.gap-10 {
	gap: 10px;
}
.gap-12 {
	gap: 12px;
}
.gap-14 {
	gap: 14px;
}
.gap-16 {
	gap: 16px;
}
.gap-18 {
	gap: 18px;
}
.gap-20 {
	gap: 20px;
}
.gap-24 {
	gap: 24px;
}
.gap-28 {
	gap: 28px;
}
.gap-32 {
	gap: 32px;
}
.gap-36 {
	gap: 36px;
}
.gap-40 {
	gap: 40px;
}
