@use '@globals/styles/breakpoints';

.item {
	padding: var(--padding-l);

	@media (width < breakpoints.$md) {
		padding: 20px;
	}

	&.light {
		.item__title {
			color: var(--color-white);
		}
	}
	&.dark {
		.item__title {
			color: var(--color-dark);
		}
	}

	&.offset {
		.item {
			&__trigger {
				padding-left: 50px;

				@media (width < breakpoints.$md) {
					padding-left: 40px;
				}
			}

			&__content {
				padding-left: 50px;

				@media (width < breakpoints.$md) {
					padding-left: 0;
				}
			}
		}
	}

	&__trigger {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 24px;
		width: 100%;
		cursor: pointer;

		@media (hover: hover) {
			&:hover {
				.item__arrow {
					scale: 1.2;
				}
			}
		}
	}

	&__counter {
		position: absolute;
		top: 0;
		left: -50px;
		width: 40px;
		display: block;
		background: var(--gradient-green);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		color: transparent;
		font-size: var(--font-size-ml);
		line-height: var(--font-line-ml);
		font-weight: 500;
		text-transform: uppercase;

		@media (width < breakpoints.$md) {
			left: -40px;
			background: transparent;
			font-size: var(--font-size-m);
			line-height: var(--font-line-m);
			color: var(--color-white);
			-webkit-background-clip: unset;
			-webkit-text-fill-color: unset;
			background-clip: unset;
		}
	}

	&__title {
		position: relative;
		font-size: var(--font-size-ml);
		line-height: var(--font-line-ml);
		font-weight: 500;

		@media (width < breakpoints.$md) {
			font-size: var(--font-size-m);
			line-height: var(--font-line-m);
		}
	}

	&__arrow {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
		width: 35px;
		aspect-ratio: 1;
		border: 1px solid #FFFFFF05;
		border-radius: 50%;
		background-color: #1E1E1E;
		color: var(--color-white);
		transition: var(--transition-primary);

		&.open {
			rotate: 180deg;
		}
	}

	&__content {
		padding-top: 32px;
	}
}