.logo {
	display: block;
	width: 100%;
	max-width: 185px;

	&.dark {
		color: var(--color-dark);
	}
	&.light {
		color: var(--color-white);
	}

	&__link {
		display: block;
	}

	svg, path {
		display: block;
		width: 100%;
		height: 100%;
	}
}