.header {
	padding: 12px 18px;
	background-color: var(--color-white);

	&__time {
		font-family: var(--font-montserrat), sans-serif;
		font-size: var(--font-size-m);
		line-height: var(--font-line-m);
		font-weight: 600;
	}

	&__avatar {
		&.green {
			background-image: url('/images/home-page/cases/avatar-bg_green.jpg');
		}
		&.blue {
			background-image: url('/images/home-page/cases/avatar-bg_blue.jpg');
		}
		&.gray {
			background-image: url('/images/home-page/cases/avatar-bg_gray.jpg');
		}
	}

	&__status {
		display: block;
		width: 100%;
		max-width: 80px;

		svg, path {
			display: block;
			width: 100%;
		}
	}
}